<!DOCTYPE html>
{% load static %}
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>TOMMORROW_LAND</title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!--enable mobile device-->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!--fontawesome css-->
      <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
      <!--bootstrap css-->
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <!--animate css-->
      <link rel="stylesheet" href="{% static 'css/animate-wow.css' %}">
      <!--main css-->
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/slick.min.css' %}">
      <!--responsive css-->
      <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
   </head>
   <body>
      <header id="header" class="top-head">
         <!-- Static navbar -->
         <div class="col-md-4 col-sm-12 left-rs">
            <a href="/" class="logoimage">TOMMORROW_LAND</a>
      </div>
         <nav class="navbar navbar-default">
            <div class="container-fluid">
               <div class="row">

                  <div class="col-md-8 col-sm-12">
                        <div class="nav-b hidden-xs">
                           <div class="nav-box">
                              <ul>
                                 <li><a href="/"> Homepage </a></li>
                                 <li><a href="/Categories">Categories</a></li>
                                 <li><a href="/Opinion">About us</a></li>
                              </ul>
                     </div>
                  </div>
               </div>
            </div>
            <!--/.container-fluid --> 
         </nav>   
      </header>
      <div class="main-template-about">
         <div class="section-gradient">
            <div class="map"></div>
            <div class="container">
               <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                     <div class="wow fadeIn" data-wow-delay="0.0s">
                        <h1>Explore the new world with TOMMORROW_LAND
                        </h1>
                        <p class="lead">TOMMORROW_LAND provides best of the knowlegde about the upleading world. Saves time as well as efforts. There is no place for time consuming processes and reluntless efforts of searching latest information. 
                           <br>
                           <br>
                           Go  ahead and Explore.
                        </p>
                     </div>
                     <div class="about-icons row">
                        <div class="col-xs-4 wow fadeIn" data-wow-delay="0.0s"><img src="images/about-icon-1.png" alt=""/></div>
                        <div class="col-xs-4 wow fadeIn" data-wow-delay="0.2s"><img src="images/about-icon-2.png" alt=""/></div>
                        <div class="col-xs-4 wow fadeIn" data-wow-delay="0.4s"><img src="images/about-icon-3.png" alt=""/></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="section do">
            <div class="blue-light"></div>
            <div class="container">
               <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                     <div class="does-box">
                        <div class="panel-body">
                           <h2>What is this website for?</h2>
                           <p>
                              In todays world net surfing is very complicated and specially it is very difficult to find out the new things in the market
                              such as new movies, products, shows, electronics, etc....
                           </p>
                           <p>
                              Keeping these things in mind we made our website which contains all the new and latest products and information about the 
                              yet to be rolled out products as well.
                           </p>
                           <p>
                           </p>
                           <p>
                           </p>
                        </div>
                        <img class="wow fadeIn" src="images/mac-about.png" alt="" />
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="seciton create">
            <div class="container">
               <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                     <h2>Features of TOMMORROW_LAND</h2>
                     <p>It is very user friendly website. And very very realistic one too. This website feels unambiguous. You will find all the legit and 
                        genuine information only about the products or gadgets.
                     </p>
                     <p>This website contains the information about all the latest releases which may be related to vehicals, electronics, 
                        entertainment, gadgets, etc...
                     <p>
                        When someone wants to know more about that particular product, we redirect them to the official site of that particular product
                        for verity and genuineness.
                     </p>
                     </p>
                  </div>
               </div>
            </div>
         </div>
         <div class="section account-box">
            <div class="blue-dark"></div>
            <div class="light-blue-grad"></div>
            <div class="container">
               <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                     <div class="blue-form">
                        <p>Any information about any product can be shared with us.</p>
                        <div class="blue-form_question"><strong>Contact us : unrated.ones@gmail.com</strong> </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="section-white">
            <div class="container">
               div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                     <h2>What is the scope of this current website? </h2>
                     <p>The scope decided for the project was based on market trend. but it was decided that website will cover "one" product each from every genre.</p>
                     <p>So the details that are shown here contains one product from four genres which are elevctronics, movies, vehicles, games respectively.</p>
                  </div>
                  <div class="col-lg-8 col-lg-offset-2 wow fadeIn" style="margin-bottom:15px;" data-wow-delay="0.2s">
                     <img class="img-responsive" src="images/lag-60.png" alt="" />
                  </div>
                  <div class="col-lg-8 col-lg-offset-2">
                     <br><br> 
                     <h2> What is the future scope?</h2>
                     <p>In future the project can be seen working with Aritficial Intelligence. Working with artificial intelligence, will make this website more effective.</p>
                     <p>We will use a web corwler or scrapy that will obtain the information from internet. </p>
                  </div>
                  <div class="col-lg-8 col-lg-offset-2 wow fadeIn" style="margin-bottom:15px;" data-wow-delay="0.2s">
                     <img src="{% static 'images/bg11.png' %} " alt="" />
                     <hr>

                  </div>

                  <div class="col-lg-8 col-lg-offset-2">
                     <div class="row">
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.2s">
                           <div class="rectange">
                              <h3 class="rectange_title">Front-end</h3>
                              <p class="rectange_text">Front end is developed in HTML and CSS. It is full fletched withot using bootstrap. It is very easy and understandable website, there is no place for false information.</p>
                           </div>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.4s">
                           <div class="rectange">
                              <h3 class="rectange_title">Backend</h3>
                              <p class="rectange_text">The backend is created in Django and python. Whole framework is created with combining HTML, CSS, Django and pyhton.</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div
            </div>
         </div> 
      </div>
      <footer>

         <div class="main-footer">
            <div class="container">
               <div class="row">
                  <div class="footer-top clearfix">
                     
                     <br>
                     <center>
                        <h2> Contact Us </h2>
                     </center><br><br>
                     <ul class="list-inline socials">
                        <li>
                           <a href="https://www.facebook.com/jonel.mathew">
                              <i class="fa fa-facebook" aria-hidden="true"></i>
                           </a>
                        </li>
                        <li>
                           <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
                              <i class="fa fa-twitter" aria-hidden="true"></i>
                           </a>
                        </li>
                        <li>
                           <a href="https://instagram.com/jonelmathew?igshid=MDM4ZDc5MmU=">
                              <i class="fa fa-instagram" aria-hidden="true"></i>
                           </a>
                        </li>
   
                     </ul>
   
                  </div>
                  <div class="footer-link-box clearfix">
                     <div class="col-md-6 col-sm-6">
                        <div class="left-f-box">
                           <div class="col-sm-4">
                              <h2>ENTERTAINMENT</h2>
                              <ul>
                                 <li><a href="https://tubitv.com/">Movies</a></li>
                                 <li><a href="https://www.projectfreetv.cyou/">Shows</a></li>
                                 <li><a href="https://www.youtube.com/">Web Series</a></li>
                                 <li><a href="https://www.toonjet.com/">Cartoons</a></li>
                              </ul>
                           </div>
                           <div class="col-sm-4">
                              <h2>GAMES</h2>
                              <ul>
                                 <li><a href="https://store.epicgames.com/en-US/">Desktop Games</a></li>
                                 <li><a href="https://www.purexbox.com/">XBOX games</a></li>
                                 <li><a href="https://www.g2a.com/top-list/playstation-games">PS Games</a></li>
                                 <li><a href="https://www.apkmirror.com/">Android/ios games</a></li>
                              </ul>
                           </div>
                           <div class="col-sm-4">
                              <h2>AUTOMOBILES</h2>
                              <ul>
                                 <li><a href="https://ackodrive.com/">Cars</a></li>
                                 <li><a href="https://www.bikewale.com/">Motorcycles</a></li>
                                 <li><a href="https://www.zigwheels.com/">Sprorts-Bikes</a></li>
                                 <li><a href="https://trucks.cardekho.com/">Trailers</a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6">
                        <div class="right-f-box">
                           <div class="col-sm-4">
                              <h2>ELECTRONICS</h2>
                              <ul>
                                 <li><a href="https://www.laptopstoreindia.com/">Laptops/Desktops</a></li>
                                 <li><a href="https://www.croma.com/home-appliances/c/5">Home Appliances</a></li>
                                 <li><a href="https://www.shakedeal.com/garage-tools-hand-tools-lp2">Garage Tools</a></li>
                                 <li><a href="https://bazaar.shopclues.com/smart-gadgets.html">Smart-Gadgets</a></li>
                              </ul>
                           </div>
                           <div class="col-sm-4">
                              <h2>ANIMES</h2>
                              <ul>
                                 <li><a href="https://myanimelist.net/anime/producer/56/A-1_Pictures">A1 Studios</a></li>
                                 <li><a href="https://www.mappa.co.jp/en/">MAPPA</a></li>
                                 <li><a href="https://www.bones.co.jp/">Studio Bones</a></li>
                                 <li><a href="http://www.ufotable.com/">Ufotable</a></li>
                              </ul>
                           </div>
                           <div class="col-sm-4">
                              <h2>TECHNOLOGIES</h2>
                              <ul>
                                 <li><a href="https://www.tesla.com/">Tesla</a></li>
                                 <li><a href="https://www.apple.com/in/">Apple Inc.</a></li>
                                 <li><a href="https://www.microsoft.com/en-in/">Microsoft</a></li>
                                 <li><a href="https://abc.xyz/">ALPHABATE</a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               </center>
      </footer>
      </html>